<!DOCTYPE HTML PUBLIC>
<HTML>
<HEAD>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Preview</title>
    <meta name="title" content="Preview" />
    <meta charset="UTF-8" />
    <script type="text/javascript">
        var STUDIO_READER_VERSION = "v1-min";
        var STUDIO_PRIMARY_READER_VERSION = "v1";
        var STUDIO_READER_TYPE = "v2";
        var STUDIO_REQUIREJS_BASE_URL = "";
        var STUDIO_REQUIREJS_JS_PATHS_CONFIG = {};
        var STUDIO_REQUIREJS_CSS_PATHS_CONFIG = {};
        var STUDIO_REQUIREJS_MODULE_ORDER = {
            "css": [],
            "js": []
        };
    </script>
    <style type="text/css">
        #studiop_1.sk-ui-layout-grid>.scfContent {
            margin: 0px;
            width: auto;
        }
        .sk-ui-layout-grid #page1 .sk-ui-layout-grid-cell {
            padding: 0px;
        }

        .sk-ui-layout-grid #page1 .cls_absWidget .sk-ui-layout-grid-cell {
            padding: 0px;
        }

        #page1 #skPageLayoutCell_1_id-1.sk-ui-layout-grid-cell {
            width: 100.0%;
        }
    </style>
    <style type="text/css">
        [v-cloak] {
            display: none !important;
        }
    </style>
    <link href="reader.css" rel="stylesheet" type="text/css">
    <script src="require.min.js" type="text/javascript"></script>
	<script src="reader.js" type="text/javascript"></script>
	<script src="beforeall.js" type="text/javascript"></script>
    <script src="afterall.js" type="text/javascript"></script>
    <script src="/stylebundle.js" type="text/javascript"></script>

    <script>
        var ROOT_PAGE_URL = "page1";
        var SITE_ROOT_PATH = "";
        var STUDIO_PREVIEW = false;
        (function () {
            var locationPath = decodeURI(location.pathname || "");
            var siteName = "";
            if (locationPath.match(/\/skavastream\/([semantic/]*)studio\/(reader|preview)/) != null) {
                if (locationPath.lastIndexOf("/" + siteName + "/" + ROOT_PAGE_URL) > -1) {
                    SITE_ROOT_PATH = locationPath.substring(0, locationPath.lastIndexOf("/" + siteName + "/" +
                        ROOT_PAGE_URL)) + "/" + siteName;
                } else if (locationPath.lastIndexOf("/" + siteName) > -1) {
                    SITE_ROOT_PATH = locationPath.substring(0, locationPath.lastIndexOf("/" + siteName)) + "/" +
                        siteName;
                }
            } else if (locationPath.length > 1 && locationPath.lastIndexOf("/" + ROOT_PAGE_URL) > -1) {
                SITE_ROOT_PATH = locationPath.substring(0, locationPath.lastIndexOf("/" + ROOT_PAGE_URL));
            }
            if (SITE_ROOT_PATH && SITE_ROOT_PATH[SITE_ROOT_PATH.length - 1] == "/") {
                SITE_ROOT_PATH = SITE_ROOT_PATH.substr(0, SITE_ROOT_PATH.length - 1);
            }
        })();
        var STUDIO_CURRENT_VIEW = "web";
        var STUDIO_DATA = {
            "pages": {
                "1": {
                    "index": 0,
                    "facets": {},
                    "layoutType": "2"
                }
            },
            "pluginIncludes": [{
                "fileBasePath": "/widget/",
                "fileName": "HMLogin.zip",
                "filePackageInfo": {
                    "widgetDescription": "",
                    "widgetApi": [{
                        "name": "HMLogin"
                    }],
                    "authorName": "mly",
                    "width": 500,
                    "height": 300,
					"i18n": [
						{
						  "name": "messages-en"
						},
						{
						  "name": "messages-zh"
						}
					],
                },
                "fileUrls": [
                    "/widget/HMLogin.editor.js",
                    "/widget/HMLogin.ftl",
                    "/widget/HMLogin.js",
                    "/widget/packageinfo.json",
                    "/widget/scaffolding.json",
                    "/widget/HMLogin.css"
                ]
            }],
			"catalogProperties":{"add-CSRFToken":{"name":"add-CSRFToken","value":"true","displayName":"add CSRFToken Flag"}}
        };
        var STUDIO_PAGE_DATA = {
            "pageId": "1",
            "pageName": "page1",
            "viewName": "web",
            "dimensions": {
                "width": 1920,
                "height": 1080
            },
            "cells": {
                "skPageLayoutCell_1_id-1": {
                    "cellId": "skPageLayoutCell_1_id-1",
                    "widget": {
                        "widgetId": "1",
                        "pageId": "1",
                        "widgetName": "widget1",
                        "widgetType": "HMLogin",
                        "currentItemIdx": 0,
                        "properties": {"PostAPIConnector":"common.global_connector_APIConnector","GetAPIConnector":"common.global_connector_APIConnector"},
                        "connectorProperties": {"PostAPIConnector":{"connectorParams":{"requestMethod":"post","prefix":""},"connector":"common.global_connector_APIConnector","connectorPeriod":0,"displayName":"PostAPIConnector","connectorModel":"ViewModel","connectorWidgetId":1,"connectorDataType":"connector","connectorType":"v2","connectorStaticData":""},"GetAPIConnector":{"connectorParams":{"requestMethod":"get","prefix":""},"connector":"common.global_connector_APIConnector","connectorPeriod":0,"displayName":"GetAPIConnector","connectorModel":"ViewModel","connectorWidgetId":1,"connectorDataType":"connector","connectorType":"v2","connectorStaticData":""}},
                        "events": {},
                        "eventsArray": [],
                        "sortOrder": 2,
                        "items": [],
                        "libWidget": false,
                        "absWidget": false,
                        "widgetVersion": "v2"
                    }
                }
            },
            "gridLayout": {
                "properties": {
                    "columns": 12,
                    "gutterSize": 0,
                    "margin": 0,
                    "padding": 0
                },
                "cells": [{
                    "index": 0,
                    "type": "",
                    "cellId": "skPageLayoutCell_1_id-1",
                    "cellNumber": 1,
                    "properties": {
                        "columns": 12,
                        "hidden": false
                    }
                }]
            },
            "pageViewProperties": {},
            "layoutType": "2"
        };
        var STUDIO_PAGE_LEVEL_MACRO = {};
        var STUDIO_VERSION = "dev";
    </script>
    <script type="text/javascript">
        var SKReaderReadyFnCalled = false;
        var SKReader_ReadyCbk = function () {
            readerObj.makeCenterPage("1");
            function loadApp() {
                $.support.cors = true;
                var options = {};
                options.CAMPAIGN_ID = 1;
                options.IS_DV = false;
                SKReader.initApp(options);
            }
            readerObj.loadedPluginRequires = [""];

            if ("skReaderRequire" in window && typeof (skReaderRequire) === "function") {
                skReaderRequire(["require"], function (req) {
                    if ("define" in window && typeof (define) === "function") {
                        var loadedJSModules = [];
                        var loadedCSSModules = [];

                        $.each(loadedJSModules, function (idx, def) {
                            define(def, [], function () {
                                //write code for on load definition
                                return;
                            });
                        });

                        $.each(loadedCSSModules, function (idx, def) {
                            //TODO: To be fixed, don't access requirejs contexts directly. This code for CSS only
                            require.s.contexts[STUDIO_REQUIREJS_CONTEXT_NAME].defined[def] =
                                undefined;
                        });

                        //for requirejs defined module
                        req(loadedJSModules, loadApp);
                    } else {
                        loadApp();
                    }
                });
            } else {
                loadApp();
            }
        };
        var SKReader_PageShow = function () {
            if (!SKReaderReadyFnCalled) {
                SKReaderReadyFnCalled = true;
                SKReader_ReadyCbk();
            }
        };

        $(document).ready(function () {
            SKReaderReadyFnCalled = true;
            SKReader_ReadyCbk();
        });
    </script>
	<script src="./addlibrary.js"></script>
</HEAD>

<BODY style="margin:0px; padding: 0px;" onpageshow="SKReader_PageShow()">
    <noscript>
        <div class="noScriptCont">
            <div class="noScripterMsg">This site requires JavaScript. Please enable JavaScript in the browser settings
                and try again.</div>
        </div>
    </noscript>
    <div id="id_skStudio_Wrapper">
        <div id="studiop_1" class="scfPage skcWebPage sk-ui-layout-grid sk-ui-layout-portrait" align="center"
            data-pageid="1" data-viewName="web" data-pageUrl="page1" data-devicetype="3" data-gridcols="12"
            data-gridguttersize="0" data-gridlayoutmargin="0">
            <div id="id_scfContent_" class="scfContent" align="left">
                <div id="page1" class="lyt_cont_div page" style="width: 100%;" flexiPage="false">
                    <div id="sk_id_layout_grid">
                        <div id="skPageLayoutCell_1_id-1"
                            class="skc_pageCellLayout sk-ui-layout-grid-cell cls_skWidget widget1 " widgetId="1"
                            widgetName="widget1" widgetType="HMLogin" data-cols="12"
                            data-cellnumber="1">
                            <div class="cls_customWidgetAPI">
                                <div class='skcCellContainer'>
                                    <div class='sk-ui-layout-grid-cell-border' >
                                        <div class='sk-ui-layout-grid-cell-background'>
                                            <div id="login-container" class="login-container" v-show="notAutoLogin" v-cloak>
	<div class="pic-list">
		<img class="login-img" :src="bg1" alt="">
      <img class="login-img" :src="bg2" alt="">
      <img class="login-img" :src="bg3" alt="">
   </div>

   <div class="bottomGradient"> </div>
   <div class="login-bg">
      <div class="login-box">
         <img :src="logo" alt="login-logo" class="login-box__logo">
         <span class="login-box__title">
            {{systemTitle}}
         </span>
         <div v-if="loginOrPass == 'login'" style="width:100%">
            <el-form class="loginForm" :model="ruleForm" status-icon :rules="rules" ref="loginForm" label-width="0px">
               <el-form-item class="passDiv" prop="userName">
                  <input class="login-box__account" v-model="ruleForm.userName" :placeholder="lang.enterUsername" autocomplete="off"
                     @keyup.enter="login('loginForm')" />
                  <div class="hw-input-xt"></div>
               </el-form-item>
               <el-form-item class="passDiv" prop="password">
                  <input class="login-box__password" type="password" v-model="ruleForm.password" :placeholder="lang.enterPassword"
                    autocomplete="off" @keyup.enter="login('loginForm')" oncopy="return false" oncut="return false" />
                  <div class="hw-input-xt"></div>
               </el-form-item>
               <el-form-item v-if="needCaptcha" class="passDiv" prop="captcha">
                  <div> <input class="login-box__captcha" v-model="ruleForm.captcha" :placeholder="lang.enterTheVerificationCode"
                        @keyup.enter="login('loginForm')"></input>
                     <img :src="imgCode" alt="login-captcha" :title="lang.clickToRefreshTheVerificationCode" @click="getVerifyCode"
                        class="login-box__captchaImg"></img>
                  </div>
                  <div class="hw-input-xt"></div>
               </el-form-item>
               <el-button type="primary" class="login-box__button" @click="login('loginForm')">
                  {{lang.logIn}}
               </el-button>
            </el-form>
            <div id="login-thirdLogin" class="login-box__agreement" style="justify-content:center;position: relative;">
					<div class="thirdLintTitle">
						<span class="third-forget" style="cursor: pointer;" @click="forgetPassword()">{{lang.forgetPassword}}</span>
					</div>
				</div>
            <div id="login-thirdLogin" v-if="oauthInfoList.length" class="login-box__agreement" style="justify-content:center;position: relative;">
				   <div class="thirdLintTitle">
					   <i class="line-left"></i>
					   <span class="third-tips">{{lang.thirdPartyLogin}}</span>
					   <i class="line-right rotateImg"></i>
				   </div>
            </div>
            <div v-if="oauthInfoList.length" class="login-box__agreement" style="justify-content:center;margin-top:0.5rem;">
               <ul style="padding: 0;margin: 0;">
                  <li v-for="item in oauthInfoList" class="thirdImage">               
                     <img :src="item.logo" :alt="item.accountType" style="width:3.5rem;height:3.5rem;cursor:pointer;" :title="item.accountType" @click="goOauthValidate(item.accountType)">
                  </li>
               </ul>
            </div>
            <div class="login-box__agreement" style="justify-content:center;margin-top:0.2rem;">
               <span class="login-thirdStatement" style="margin-top: 0.5rem;"><a @click="viewPrivacy()" style="margin-left:0">{{privacyTitle}}</a></span>
            </div>
         </div>
         <div v-if="loginOrPass == 'password'" style="width:100%">
            <div class="userInfo-pswrule"
               v-if="userSetRule.psw_lenStr || userSetRule.psw_ruleStr || userSetRule.psw_RepeatCharts">
               <p>{{lang.toEnsureInformationSecurity}}：</p>
               <div style="width: 100%; padding-left: 15px;">
                  <p v-if="userSetRule.psw_lenStr">
                     {{userSetRule.psw_lenStr}}
                  </p>
                  <p v-if="userSetRule.psw_ruleStr">
                     {{userSetRule.psw_ruleStr}}
                  </p>
                  <p v-if="userSetRule.psw_RepeatCharts">
                     {{lang.thePasswordMustBeAtLeast}} {{userSetRule.psw_RepeatCharts}} {{lang.charactersThatCannotBeRepeated}}
                  </p>
               </div>
            </div>
            <div class="userInfo-item" :class="{error: dataErr.oriPsw}">
               <input v-model="acct.oriPsw" @input="onInput('oriPsw')" type="password" :placeholder="lang.enterTheOldPassword"
                  autocomplete="off" @keyup.enter="handleUserset('save')" oncopy="return false" oncut="return false"></input>
               <div class="hw-input-xt"></div>
               <label class="error-msg" v-show="dataErr.oriPsw">{{dataErrDesc.oriPsw}}</label>
            </div>
            <div class="userInfo-item" :class="{error: dataErr.psw}">
               <input v-model="acct.psw" @blur="onBlur('psw', acct.psw)" @input="onInput('psw')" type="password"
                  autocomplete="off" :placeholder="lang.enterANewPassword" @keyup.enter="handleUserset('save')" oncopy="return false" oncut="return false"></input>
               <div class="hw-input-xt"></div>
               <label class="error-msg" v-show="dataErr.psw">{{dataErrDesc.psw}}</label>
            </div>
            <div class="userInfo-item" :class="{error: dataErr.rePsw}">
               <input v-model="acct.rePsw" @blur="onBlur('rePsw', acct.rePsw)" @input="onInput('rePsw')" type="password"
                  autocomplete="off" :placeholder="lang.enterTheNewPasswordAgain" @keyup.enter="handleUserset('save')" oncopy="return false" oncut="return false"></input>
               <div class="hw-input-xt"></div>
               <label class="error-msg" v-show="dataErr.rePsw">{{dataErrDesc.rePsw}}</label>
            </div>
            <div class="userInfo-item">
               <div class="btn-wrap">
                  <el-button class="userInfo-item__cancelButton" @click="handleUserset('cancel')">{{lang.cancel}}
                  </el-button>
                  <el-button type="primary" class="userInfo-item__okButton" @click="handleUserset('save')">{{lang.ok}}
                  </el-button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <el-dialog width="20%" :visible.sync="dialogVisible" :close-on-click-modal="dialogAutoClose"
      :close-on-press-escape="false" class="hw-ok-check" center>
      <div class="hw-icon-circle-check">
         <img :src="messageBoxImg" alt="">
         <p>{{descInfo}}</p>
         <a v-if="canSkip" @click="afterLogin" style="cursor: pointer;font-size:0.875rem"> {{lang.notProcessed}},</a>
         <span>
            {{lang.goNow}}<a @click="changePassword" style="cursor: pointer;"> {{lang.modified}}</a>
         </span>
      </div>
   </el-dialog>
   <el-dialog :visible.sync="promtDialogVisible" width="20%" :modal-append-to-body="false"
      :close-on-press-escape="false" class="hw-ok-check" center>
      <div class="hw-icon-circle-check">
         <img :src="messageBoxImg" alt="">
         <div style="margin-top:15px;">
            <el-checkbox  v-model="isAgreePrivacyStatement" @changeAgree="changeAgree()">{{lang.iHaveReadAndAgree}}</el-checkbox>
            <a @click="viewPrivacy()" style="color:#ff8b00;cursor:pointer;word-break:keep-all;">{{privacyTitle}}</a>
         </div>
      </div>
      <span slot="footer" class="dialog-footer private">
         <el-button @click="cancelAgree()" class="userInfo-item__cancelButton">{{lang.cancel2}}</el-button>
         <el-button type="primary" @click="sign()" class="userInfo-item__okButton">{{lang.ok}}</el-button>
      </span>
   </el-dialog>
   <el-dialog :visible.sync="bindDialogVisible" width="30%" :modal-append-to-body="false"
      :close-on-press-escape="false" class="hw-ok-check" center>
      <div>
         <div style="margin: 1rem 4.5rem;">
            <p style="margin-left: 5px;">{{lang.user}}{{thirdPartyLoginAccount}}{{lang.bindText}}</p>
             <el-form class="loginForm" :model="bindForm" status-icon :rules="rules" ref="bindForm" label-width="0px">
               <el-form-item class="passDiv" prop="password">
                  <input class="login-box__password" type="password" v-model="bindForm.password" :placeholder="lang.enterPassword"
                    autocomplete="off" oncopy="return false" oncut="return false"/>
                  <div class="hw-input-xt"></div>
               </el-form-item>
               <el-form-item v-if="needCaptcha" class="passDiv" prop="captcha">
                  <div> 
                     <input class="login-box__captcha" v-model="bindForm.captcha" :placeholder="lang.enterTheVerificationCode"></input>
                     <img :src="imgCode" alt="login-captcha" :title="lang.clickToRefreshTheVerificationCode" @click="getVerifyCode"
                        class="login-box__captchaImg"></img>
                  </div>
                  <div class="hw-input-xt"></div>
               </el-form-item>
            </el-form>
         </div>
      </div>
      <span slot="footer" class="dialog-footer private">
         <el-button @click="cancelBind()" class="userInfo-item__cancelButton" style="margin-bottom: 1.5rem;">{{lang.cancel2}}</el-button>
         <el-button type="primary" @click="bind('bindForm')" class="userInfo-item__okButton"  style="margin-bottom: 1.5rem;">{{lang.bind}}</el-button>
      </span>
   </el-dialog>
   <!--浏览器兼容popup-->
   <el-dialog width="25%" :visible.sync="broswerShow" :close-on-click-modal="false" :show-close="false" :close-on-hash-change = "false"
      :close-on-press-escape="false" class="hw-ok-check" center>
      <div class="hw-icon-circle-check"><img :src="messageBoxImg" alt="">
         <p style="letter-spacing: 1;">{{lang.tips}}</p>
         <span style="letter-spacing: 1;">
               {{lang.ifGoogleChromeIsNotInstalled}} <a href="https://www.google.cn/intl/zh-CN/chrome/" target="_blank" rel="noopener noreferrer" style="cursor: pointer;">{{lang.goToDownload}}</a>
         </span>
      </div>
   </el-dialog>   
</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</BODY>
</HTML>